body, * {
  margin: 0;
  padding: 0;
  font-family: Constania;
}
#app{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

._spinner{
  display: none;
  top:0;
  position: absolute;
  width: 100%;
  height: 100%;
}
._loading ._spinner{
  display: block;
  z-index: 2000;
}
._requesting ._spinner{
  display: block;
  z-index: 2000;
}

.help-block {
  float: right;
  font-size: 12px;
  font-style: italic;
  font-family: Constania;
  color: #a1a1a1;
}

#sidebar-toggle{
  display: none;
  position: absolute;
}

#sidebar-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 3000;
}

#header{
  position: absolute;
  width: 100%;
  height: 62px;
  padding-left: 226px;
  background-color: #ffffff;
  box-shadow: 0 1px 8px rgba(200, 200, 200, 0.4);
  z-index:1;
}

#header a {
  color: #333333;
  padding: 0 28px 0 6px;
}


#sidebar{
  position: absolute;
  width: 200px;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  border-radius: 0;
  z-index: 2;
}
#sidebar-button{
  display: none;
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 20px;
  padding: 6px 10px;
  background-color: #545454;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}


#content{
  height: 100%;
  padding-left: 200px;
  padding-top: 52px;
  overflow: hidden;
}

#messages{
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2000;
}

.page-content{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;ßß
}
.scroll-content{
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 400px;
  position: relative;
}
.scroll-x {
  overflow-x: auto;
}


#sidebar, #header, #content {
  transition: transform 0.3s cubic-bezier(0, 0.9, 0.5, 1);
}

#sidebar-toggle:checked + #app > #header {
  transform: translateX(200px);
}
#sidebar-toggle:checked + #app > #sidebar {
  transform: translateX(200px);
}

#sidebar-toggle:checked + #app > #content {
  transform: translateX(200px);
}

#sidebar-toggle:checked + #app #sidebar-overlay {
  display: block;
}


/*In Mobile View*/
@media only screen and (max-width: 480px) {

  #header {
    padding-left: 0px;
  }
  #sidebar {
    margin-left: -200px;
  }
  #content {
    padding-left: 0;
  }
  .page-content {
    padding-left: 12;
    padding-right: 12;
  }
  #sidebar-button{
    display: block;
  }
  ._requesting ._spinner{
    left: 0px;
  }
  .login-header img{
    width: 100%
  }
}

.logo {
  text-align: center;
  background-color: #2b7cef;
  width: 200px;
  padding: 24px 6px;
  margin-top: -1px;
  margin-left: -1px;
  display: block;
  z-index: 2;
}

.logo img{
  width: 100%;
}


.ui.vertical.menu {
  width: 200px !important;
  background-color: #ffffff !important;
}


.ui.menu a.item {
  color: #3a3a3a;
  padding: 18px 25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.ui.menu a.item:hover,
.ui.menu a.item.active {
  color: #2b7cf0 !important;
  background-color: #f5f5f5 !important;
}


.dropdown.icon{
  font-family: 'FontAwesome';
}

.dropdown .text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 1000;
}


.ui.loading.dropdown .dropdown.icon{
  padding: 1.44285714em 1.07142857em !important;
}

.dropdown .item .icon.right{
  color: #777;
  float: right !important;
  margin-right: -6px !important;
}


.space-between{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}


.space-between .label{
  padding: 8px 0;
}

.space-between .ui.button{
  background: transparent;
}

.space-between-item{
  text-align:center;
}

.ui.modal{
  position: static !important;
}

.modal-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
}

.ui.small.modal {
  width: 100% !important;
  margin: 0 !important;
}

.ui.medium.modal {
  margin: 0 !important;
}

.ui.large.modal {
  margin: 0 !important;
}

.icon {
  font-family: 'FontAwesome' !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.ui.dropdown > .dropdown.icon {
  font-family: 'FontAwesome';
  color: #777;
  top: 0.7em !important;
  font-size: 1em !important;
}



.page-header {
  color: #2A7CEE;
  font-size: 28px;
  font-weight: normal;
  font-family: Constania;
}

.ui.table td.action {
  text-align: right;
  min-width: 180px;
}


.ui.table thead tr:first-child td {
  border-bottom: 2px solid #2A7CEE;
}

.button.transparent,
.button.transparent:hover,
.button.transparent:focus,
.button.transparent:active {
  color: #000 !important;;
  margin: 1px !important;;
  padding: 1px !important;;
  background: transparent !important;
}

.text-right{
  text-align: right;
}


.ui.dropdown.link{
  border: none !important;
}


.ui.selection.dropdown.link{
  min-width: 6em;
}

.ui.selection.dropdown.link .menu{
  min-width: 14em;
}


.ui.selection.active.dropdown.link{
  box-shadow: none !important;
}


.ui.selection.active.dropdown.link .menu{
  border-radius: 5px;
  border-top: 1px solid #96C8DA !important;
}


.login-header{
  position: relative;
  background: #2A7CEE;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 5px solid #dededf;
  padding: 5px 20px;
  margin-bottom: -16px;
  z-index: 1;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #292b2c;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
  border-color: #ddd;
}
.panel-heading {
  background: #eeeeee;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 18px;
}
.panel-title {
  font-family: Constania;
}
.panel .panel-body {
  padding: 15px;
}
.alert {
  border: 1px solid #292b2c;
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}
.alert:last-child {
  margin-bottom: 0;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #efe7c1;
  color: #8a6d3b;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
.default,
.btn-default {
  background-color: #2A7CEE !important;
  color: #FFFFFF !important;
  font-family: Constania;
}
.text-center {
  text-align: center !important;
}
.text-right,
.pull-right {
  text-align: right !important;
}
.text-left,
.pull-left {
  text-align: left !important;
}
.login-panel {
  margin-top: 100px;
}
.login-panel input[type="text"],
.login-panel input[type="password"] {
  font-family: Constania;
}
.login-panel input[type="checkbox"] {
  margin: 10px 3px 0 2px;
}
.login-panel .remember {
  margin: 7px 0 0 4px;
}
.login-panel .panel-body .col-sm-12 {
  margin-bottom: 20px;
}
.login-panel .label {
  margin-top: 2px;
  font-size: 15px;
  margin-right: 0;
}
.login-panel .login-check {
  margin: 7px 0 0 9px;
}

.login-panel .login-header {
  font-size: 26px;
  text-align: center;
  color: #FFFFFF;
}
.login-panel .fluid {
  margin-bottom: 20px;
}
.login-panel .fluid:first-child {
  margin-top: 20px;
}
.login-panel .ui.segment {
  min-height: 200px;
}
.schedule-header {
  font-family: Constania !important;
  font-size: 30px !important;
}
.calendar {
  padding: 20px 0;
  text-align: left !important;
  border: none !important;
}
.calendar .control {
  margin-bottom: 15px;
}
.calendar .month h2 {
  font-size: 24px;
  color: #2b7cf0;
  font-weight: normal;
}
.calendar .ui.table th {
  font-size: 16px;
  text-align: center;
  color: #2b7cf0;
  font-weight: normal;
}

.calendar .ui.table th.weekends{
  background-color: #ffd4af !important;
  border-left: 1px solid #ff7600;
  border-right: 1px solid #ff7600;
}
.calendar .ui.table td {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.calendar .ui.table td.loading {
  cursor: progress;
}

.calendar .ui.table td.weekends{
    border-left: 1px solid #ff7600;
    border-right: 1px solid #ff7600;
}

.calendar .ui.celled.table tr th:first-child,
.calendar .ui.celled.table tr td:first-child {
    border-left: none;
    border-right: none;
}



.ui.primary.buttons .button,
.ui.primary.button,
.ui.blue.labels .label,
.ui.blue.label,
.ui.blue.buttons .button,
.ui.blue.button {
  background-color: #2A7CEE !important;
  font-family: Constania;
}
.table-container {
  height:350px;
  border:1px solid #e8e8e9;
  border-radius:0.28571429rem;
  overflow-y:scroll;
}
.table-container table {
  padding:0;
  border:none !important;
}
.page-label {
  color: #2A7CEE;
  font-size: 16px;
  font-weight: normal;
  font-family: Constania;
}
.schedule-date h2 {
  color: #000000 !important;
}
.data-schedule thead th {
  color: #000 !important;
  font-weight: bold !important;
}
.data-schedule tbody td {
  font-size: 16px !important;
  padding: 10px !important;
  text-align: left !important;
}


.modal-calendar .calendar-text {
  margin-bottom: 15px;
  font-family: Constania !important;
}
.modal-calendar .calendar-table thead th {
  font-family: Constania !important;
  text-align: center;
  font-size: 16px;
  color: #2A7CEE;
}
.modal-calendar .calendar-table tbody td {
  font-family: Constania !important;
  text-align: center !important;
  cursor: pointer !important;
  font-size: 18px !important;
  padding: 15px 0 !important;
}

.pending {
  color: #FBBD08;
  letter-spacing: 1px;
  font-size: 14px;
}
.success {
  color: #21BA45 ;
  letter-spacing: 1px;
  font-size: 14px;
}
.danger {
  color: #DB2828;
  letter-spacing: 1px;
  font-size: 14px;
}

.count-section .ui.segments {
  background: #EEEEEE;
  min-height: 140px;
}
.count-section .ui.segments span {
  font-size: 95px;
  margin-right: 5px;
  margin-top: 5px;
  color: #c6ccd4;
}

.count-section .ui.segments .page-header {
  font-size: 44px;
  margin: 15px 0 35px 5px;
  float: left;
  width: 50%;
}
.count-section .ui.segments .label {
  font-size: 24px;
  float: left;
  width: 50%;
  margin-left: 5px;
}
.count-section .ui.segments .view-details {
  background: #2a7cee;
  color: #fff;
  float: left;
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 5px;
  font-size: 14px;
  text-align: right;
  margin-top: 10px;
}

.calendar .date-selected,
.calendar .date-calendar tbody td:hover {
  background: #eaf2fe !important;
}
.calendar .today {
  background: #2A7CEE !important;
  color: #FFFFFF;
}

.date-calendar tbody td span {
  float: right;
  margin-top: -26px;
  margin-right: 6px;
  font-size: 16px;
  color: #2b7cf0;
}

.list-calendar {
  margin-bottom: 30px !important;
}
.list-calendar table {
  width: 100% !important;
  border-collapse: collapse !important;
  table-layout: fixed;
}
.list-calendar thead {
	overflow: auto;
  width: 100%;
}
.list-calendar thead tr th {
  font-size: 16px !important;
  padding: 5px 0 !important;
  background: #eaf2fe !important;
}
.list-calendar thead tr th:first-child {
  width: 150px !important;
}
.list-calendar tbody {
	overflow: auto;
  height: 300px;
}
.list-calendar tbody tr td {
  font-size: 14px !important;
  padding: 10px 0 !important;
}
.list-calendar tbody tr td:first-child {
  border-right: 1px solid #CCCCCC;
}
.list-calendar td img {
  float: left;
  margin: 0 5px;
  border: 1px solid #cccccc;
  padding: 1px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.list-calendar tbody tr td span {
  font-size: 12px;
  font-weight: 600;
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-calendar tbody tr td small {
  color: #2a7cee;
  font-size: 11px;
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
